<div class="research-detail">
    <div class="content-title-wrapper"><p>Научные и иные проекты ФГБНУ "Федеральный Центр образовательного законодательства"</p><span>{{ result.NAME }}</span></div>
    {{ result.DETAIL_TEXT }}
</div>
