.button-scroll {
  position: fixed;
  bottom: 32px;
  right: 20px;
  z-index: 9999;
  opacity: 1;

  &__row {
    display: flex;
    justify-content: flex-end;
    margin-top: 24px;

    &:first-child {
      margin-top: 0;
    }
  }

  &__down {
    width: 48px;
    height: 48px;
    cursor: pointer;
    transform: rotate(180deg);
  }

  &__top {
    width: 48px;
    height: 48px;
    cursor: pointer;
  }

  &__document-header {
    display: none;
    padding: 12px 24px;
    background: #E5EEF5;
    border: 1px solid rgba(185, 193, 211, 0.8);
    box-sizing: border-box;
    border-radius: 36px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    margin-right: 24px;
    cursor: pointer;

    &--active {
      display: block;
    }
  }
}

.js-button-scroll-hide {
  display: none;
}