.documents {
  &--small-margin-bottom {
    margin-bottom: 16px;
  }

  &__document {
    display: flex;
    background-color: #508CD3;
    padding: 12px;
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: underline;
  }

  &__icon {
    margin-right: 8px;

    svg {
      width: 32px;
      height: 32px;
    }
  }
}