.search-filter {
  display: none;
  margin-top: 32px;

  &__title {
    flex-basis: 100%;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: #fff;
    padding: 16px 0;
  }

  &__tabs {
    margin-bottom: 16px;
  }

  &__list {
    margin: 0;
    padding: 0;
    column-count: 3;
  }

  &__item {
    width: 100%;
    display: inline-block;
    margin: 0 -24px;
  }

  &__item-link {
    display: flex;
    align-items: center;
    height: 48px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    margin: 0 24px;
  }

  &__item-icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }

  &__item-text {
    color: #fff;
  }

  &__item-count {
    color: #fff;
    margin-left: 8px;
  }
}

.search_is-open .search-filter {
  display: block;
}
