.new-textleft {
  font-size: 15px !important;
  font-family: 'PT Serif', sans-serif;
  font-weight: bold;
  line-height: 22px;
  text-indent: 20px;
  text-align: left;
  display: block;
  color: #212c3c;
}

.new-textright {
  font-size: 15px !important;
  font-family: 'PT Serif', sans-serif;
  font-style: italic !important;
  text-align: right !important;
  display: block;
  line-height: 22px;
  /*text-indent: 20px;
  text-align: left;*/
  color: #212c3c;
}

.new-textcenter {
  font-family: 'PT Serif', sans-serif;
  text-align: center !important;
  font-weight: bold !important;
  display: block;
  font-size: 16px !important;
  line-height: 22px;
  /*text-indent: 20px;
  text-align: left;*/
  color: #212c3c;
}


.new-textcenter2 {
  font-family: 'PT Serif', sans-serif;
  /*font-weight: bold !important;
  font-size: 16px !important;
  line-height: 22px;
*/
  text-align: center !important;
  display: block;
  /*text-indent: 20px;
  text-align: left;*/
  color: #212c3c;
}

.new-text {
  /*font-family: 'PT Serif', sans-serif;
  font-size: 15px !important;
  line-height: 22px;
  text-indent: 20px;*/
  text-indent: 20px !important;
  display: block;
  text-align: left;
  color: #212c3c;
}

.new-textjust {
  /*font-family: 'PT Serif', sans-serif;
  font-size: 15px !important;
  line-height: 22px;*/
  text-align: justify;
  display: block;
  text-indent: 20px !important;
  display: block;
  color: #212c3c;
}

.new-textjust2 {
  /*font-family: 'PT Serif', sans-serif;
  font-size: 15px !important;
  text-align: justify;
  line-height: 22px;
  text-indent: 20px;*/
  display: block;
  text-align: left;
  display: block;
  color: #212c3c;
}

.new-textmar {
  font-family: 'PT Serif', sans-serif;
  font-size: 15px !important;
  text-align: justify !important;
  text-indent: 20px !important;
  margin-top: 5px !important;
  margin-bottom: 3px !important;
  display: block;
  line-height: 22px;
  /*text-indent: 20px;
  text-align: left;*/
  color: #212c3c;
}

.new-textcolor {
  font-family: 'PT Serif', sans-serif !important;
  color: #616290 !important;
  display: block;
  line-height: 22px;
  text-indent: 20px;
  text-align: left;
  display: block;
}

.new-table td {
  border-collapse: collapse;
  border: 1px double #b2b2b2 !important;
  padding: 10px;
}

.new-table2 {
  padding: 0 150px 0 150px;
}

.new-table2 td {
  border-collapse: collapse;
  border: 1px double #000;
  padding: 10px;
  width: 308px;
}

.new-soder {
  font-family: 'PT Serif', sans-serif;
  font-size: 15px !important;
  text-align: left !important;
  display: block;
  line-height: 22px;
  text-indent: 20px;
  text-align: left;
  display: block;
  color: #212c3c;
}

.new-lisite {
  background: url('//www.lexed.ru.opt-images.1c-bitrix-cdn.ru/images/icons/icon-k.png?14038823931555')
    0px 2px no-repeat;
  padding: 20px 0px 0px 48px;
  min-height: 20px;
  width: 90%;
  margin-left: 25px;
  margin-bottom: 10px;
  border-bottom: solid 1px #ddd;
  display: block;
  float: left;
}

.new-lifz {
  background: url('//www.lexed.ru.opt-images.1c-bitrix-cdn.ru/images/icons/icon-fz.png?14041277881631')
    0px 2px no-repeat;
  padding: 20px 0px 0px 48px;
  min-height: 20px;
  width: 90%;
  margin-left: 25px;
  margin-bottom: 10px;
  border-bottom: solid 1px #ddd;
  display: block;
  float: left;
}

.new-lia {
  background: url('//www.lexed.ru.opt-images.1c-bitrix-cdn.ru/images/icons/icon-a.png?14041434281561')
    0px 2px no-repeat;
  padding: 20px 0px 0px 48px !important;
  min-height: 20px;
  width: 90%;
  margin-left: 25px;
  margin-bottom: 10px;
  border-bottom: solid 1px #ddd;
  display: block;
  float: left;
}

.new-lit {
  background: url('//www.lexed.ru.opt-images.1c-bitrix-cdn.ru/images/icons/icon-t.png?14041434091470')
    0px 2px no-repeat;
  padding: 20px 0px 0px 48px;
  display: block;
  float: left;
  min-height: 30px;
  width: 93%;
  margin-left: 25px;
}

.new-lio {
  background: url('//www.lexed.ru.opt-images.1c-bitrix-cdn.ru/images/icons/icon-o.png?14048347461574')
    0px 2px no-repeat;
  padding: 20px 0px 0px 48px !important;
  display: block;
  float: left;
  min-height: 30px;
  width: 93%;
  border-bottom: solid 1px #ddd;
  margin-left: 25px;
}

.new-lib {
  background: url('//www.lexed.ru.opt-images.1c-bitrix-cdn.ru/images/icons/icon-b.png?14048347461524')
    0px 2px no-repeat;
  padding: 20px 0px 0px 48px !important;
  display: block;
  float: left;
  min-height: 30px;
  width: 93%;
  margin-left: 25px;
}

.new-lis {
  background: url('//www.lexed.ru.opt-images.1c-bitrix-cdn.ru/images/icons/icon-s.png?14055119581570')
    0px 2px no-repeat;
  padding: 20px 0px 0px 48px !important;
  min-height: 20px;
  width: 80%;
  margin-left: 25px;
  margin-bottom: 10px;
  border-bottom: solid 1px #ddd;
  display: block;
  float: left;
}

.new-limo {
  background: url('//www.lexed.ru.opt-images.1c-bitrix-cdn.ru/images/icons/icon-o.png')
    0px 2px no-repeat;
  padding: 20px 0px 0px 48px !important;
  min-height: 20px;
  width: 80%;
  margin-left: 25px;
  margin-bottom: 10px;
  border-bottom: solid 1px #ddd;
  display: block;
}
.padding-img {
  padding: 19px;
}