a.search-page-params {
	border-bottom: 4px dashed blue;
	text-decoration: none;
}
div.search-page-params {
	margin-top: 6px;
}
.search-item-rate {font-size: 13px;}

b {
background-color: #FFFF77!important;
}