<div class="main-page__row main-page-categories owl-carousel owl-theme">
	{% for item in result %}
		<div>
			<picture class="main-page-categories__picture">
				<img src="{{ item.PARAMS.img }}" alt="{{ item.TEXT }}" class="main-page-categories__img">
			</picture>
			<div class="main-page-categories__title">{{ item.TEXT }}</div>
			<a href="{{ item.LINK }}" class="main-page-categories__link"></a>
		</div>
	{% endfor %}
</div>
<script>
	var owl = $('.owl-carousel');
	owl.owlCarousel({
		loop:true,
		nav:true,
		autoplay : false,
		autoplayTimeout : 7000,
		margin:26,
		width:374,
		responsive:{
			0:{
				items:3
			},
			600:{
				items:3
			},
			960:{
				items:3
			},
			1200:{
				items:3
			}
		}
	});
	owl.on('mousewheel', '.owl-stage', function (e) {
		if (e.deltaY>0) {
			owl.trigger('next.owl');
		} else {
			owl.trigger('prev.owl');
		}
		e.preventDefault();
	});
</script>
