.col12 .infobl {
    width: 960px!important;
}
.under a {
padding-bottom: 2px;
border-bottom: solid 1px #9ED1FF;
}
p {
font-family: 'Arial', sans-serif;
font-size: 13px!important;
text-align: justify!important;
text-indent: 20px!important;
margin-top: 5px!important;
margin-bottom: 3px!important;
display: block;
}
h3 {
font-size: 18px!important;
font-family: arial!important;
line-height: 24px!important;
font-weight: bold!important;
padding-bottom: 15px!important;
}

h4 {
font-family: 'Arial', sans-serif;
font-size: 13px!important;
text-align: justify!important;
margin-top: 5px!important;
margin-bottom: 3px!important;
display: block;
}