<div id="map" style="width: 100%; height: 500px;"></div>
<script async src="//api-maps.yandex.ru/2.1/?load=package.standard&lang=ru-RU&onload=getYaMap"></script>
<script>
    function getYaMap() {
        var aCenter = JSON.parse('{{ result.CENTER }}');
        var aPlaces = JSON.parse('{{ result.PLACES }}');

        var myMap = new ymaps.Map(
            'map',
            {
                center: aCenter,
                controls: ['zoomControl', 'fullscreenControl', 'typeSelector'],
                zoom: 17
            }
        );

        $.each(aPlaces, function (index, item) {
            myMap.geoObjects.add(
                new ymaps.Placemark(
                    item.cor,
                    {
                        balloonContentHeader: item.header,
                        balloonContentBody: item.body
                    }
                )
            )
        });
    }
</script>